.main {
  display: flex;
  flex-direction: column;
}
.weather {
  max-height: 80px;
}
.weather_info {
  color: white;
  font-size: 36px;
  position: absolute;
  top: 160px;
  left: 58px;
  z-index: 1;
  margin: 0;
}
.weather_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.weather_title {
  margin: 40px 0 34px;
}
.card_section {
}
.card_items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.card {
  display: flex;
  list-style: none;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0;
  padding: 0 20px 0 0;
  min-width: 325px;
  max-height: 328px;
}
.card_name {
  text-align: center;
  width: 73px;
  height: 24px;
  position: relative;
  top: 30px;
  background-color: white;
  border-radius: 2px;
}
.card_image {
  width: 325px;
  height: 328px;
  border-radius: 10px;
  border: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
}
