.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 47px;
  max-height: 40px;
  box-sizing: border-box;
}

.header__logo {
  display: flex;
  gap: 20px;
  align-items: center;
  max-height: 40px;
  box-sizing: border-box;
}
.header__avatar-logo {
  display: flex;
  align-items: center;
  max-height: 40px;
}
.header__button {
  border-style: none;
  padding: 0 0 0 5px;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
}
.header__avatar-info {
  padding-left: 12px;
}
.header__avatar-info:hover {
  cursor: pointer;
}
.header__avatar-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.header__avatar-name {
  margin-left: 20px;
  margin-right: 12px;
}
.header__avatar-name:-webkit-any-link {
  text-decoration: none;
  color: black;
}
.login_button {
  border-style: none;
  font-style: bold;
  padding: 0 0 0 10px;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background-color: transparent;
}
.register_button {
  border-style: none;
  padding: 0 0 0 10px;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background-color: transparent;
  border-radius: 4px;
  font-style: bold;
}
.register_button:hover {
  cursor: pointer;
}
.login_button:hover {
  cursor: pointer;
}
